.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    padding: 8px;
    font-size: 12px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    pointer-events: none; 
    opacity: 0; 
    transition: opacity 0.3s;
}

body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 40px 20px;
    background-color: #35424a;
    color: #ffffff;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #f1f1f1;
}

section {
    margin: 30px auto;
    padding: 20px;
    max-width: 800px; 
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

section h3 {
    margin-top: 0;
    color: #35424a;
    font-size: 1.4em;
}

.chart-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=range], input[type=number] {
    margin: 10px 0;
    width: 100%;
    max-width: 400px; 
}


.diameter-text {
    cursor: pointer;
    text-decoration: underline;
    color: #009dff;
  }

  .bar.highlighted {
    fill: red;
  }